.centered-box {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 1); /* полупрозрачный фон */
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2); /* более выраженная тень */
    border-radius: 15px;
    overflow: hidden; /* для корректного отображения содержимого */
}

.profile-container {
    max-width: 600px;
    width: 80%;
    margin: 0 auto;
    padding: 25px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали (если нужно) */
}

.profile-container form label {
    font-weight: bold;
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
}

.profile-container form button {
    padding: 12px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    transition: background-color 0.3s;
    margin-right: 10px;
}

.profile-container form button:hover {
    background-color: #444;
}

.review-container {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.review-container h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: center;
}

#review-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.review-header {
    display: flex;
    align-items: center; /* Выравнивает текст и звезды по вертикали */
    gap: 15px; /* Добавляет расстояние между текстом и звездами */
}

.review-header label {
    margin: 0; /* Убирает отступы вокруг лейбла */
    font-size: 1em;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

#review-text {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    box-sizing: border-box;
    height: 100px;
}

.submit-review-button {
    align-self: center;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.submit-review-button:hover {
    background-color: #45a049;
}

.error-message {
    color: red;
    font-size: 0.9em;
}
/* Контейнер рейтинга */
.rating-area {
    overflow: hidden;
    width: 160px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.rating-area input {
    display: none; /* Скрытие радиокнопок */
}

.rating-area label {
    width: 24px;
    cursor: pointer;
    font-size: 24px;
    color: lightgrey;
    transition: color 0.2s ease;
}

.rating-area label:before {
    content: '★';
}

.rating-area input:checked ~ label {
    color: #FFD700;
}

.rating-area label:hover,
.rating-area label:hover ~ label {
    color: #FFD700;
}

.rating-area input:checked + label:hover,
.rating-area input:checked + label:hover ~ label,
.rating-area input:checked ~ label:hover,
.rating-area input:checked ~ label:hover ~ label {
    color: #FFD700;
    text-shadow: 1px 1px goldenrod;
}