{% extends "base.html" %}
{% load static %}
{% block title %}Запись{% endblock %}
{% block css %}{% static 'css/booking.css' %}{% endblock %}

{% block content %}

    <div id="booking-container">
        <div class="tabs">
            <button class="tab-button active" onclick="openTab(event, 'services-tab')">Услуги</button>
            <button class="tab-button" onclick="openTab(event, 'master-tab')">Мастер</button>
            <button class="tab-button" onclick="openTab(event, 'time-tab')">Время</button>
        </div>

        <!-- Вкладка Услуги -->
        <div id="services-tab" class="tab-content active">
            <div class="service-category">
                <div class="categories">
                    <h3>Разделы услуг</h3>
                    <ul>
                        <li onclick="showServices('Стрижка')">Стрижка</li>
                        <li onclick="showServices('Окрашивание')">Окрашивание</li>
                        <li onclick="showServices('Маникюр')">Маникюр</li>
                        <li onclick="showServices('Педикюр')">Педикюр</li>
                        <li onclick="showServices('Массаж')">Массаж</li>
                        <li onclick="showServices('Уход за лицом')">Уход за лицом</li>
                    </ul>
                </div>
                <div class="services-list">
                    <h3>Услуги</h3>
                    <div id="services-details" class="scrollable-list"></div>
                </div>
            </div>
            <button id="services-next" class="next-button" disabled>Далее</button>
            <p id="error-message" style="color: red; text-align: center;"></p>
        </div>

        <!-- Вкладка Мастер -->
        <div id="master-tab" class="tab-content">
            <h3>Выберите мастера</h3>
            <input type="text" id="search-master" placeholder="Поиск по ФИО" onkeyup="searchMasters()" style="width: 100%; padding: 10px; margin-bottom: 20px;">
            <ul id="master-list" class="scrollable-list"></ul>
            <button id="master-next" class="next-button" disabled>Далее</button>
            <p id="master-error-message" style="color: red; text-align: center;"></p>
        </div>

        <!-- Вкладка Время -->
        <div id="time-tab" class="tab-content">
            <h3>Выберите дату и время</h3>
            <p id="selected-service-master"></p>
            <p id="time-tab-message" style="color: red; text-align: center;"></p>
            <input type="date" id="date" required>
            <select id="time" required>
                <option value="">--Выберите время--</option>
            </select>
            <button id="book-btn" class="book-button" disabled>Записаться</button>
            <p id="service-price" style="text-align: center; font-weight: bold;"></p>
            <p id="time-error-message" style="color: red; text-align: center;"></p>
        </div>

    </div>

    <script src="{% static 'js/booking.js' %}"></script>

{% if show_modal %}
<div id="auth-modal" class="modal">
    <div class="modal-content">
        <p>Чтобы получить доступ к этой странице, пожалуйста, зарегистрируйтесь или войдите в аккаунт.</p>
        <a href="{% url 'login' %}" class="register-btn">Войти</a>
    </div>
</div>
<script>
    // Открываем модальное окно при загрузке страницы
    window.onload = function() {
        document.getElementById('auth-modal').style.display = 'block';
    };
</script>
{% endif %}

{% endblock %}