{% extends "base.html" %}
{% load static %}
{% block title %}Редактировать профиль{% endblock %}
{% block css %}{% static 'css/profile.css' %}{% endblock %}

{% block content %}

<div class="centered-box profile-container">
    <h2 style="text-align: center;">Редактировать профиль</h2>

    <div class="avatar-edit">
        {% if user.picture %}
            <img src="{{ user.picture.url }}" alt="Аватар профиля" class="profile-avatar">
        {% else %}
            <img src="{% static 'images/default_avatar.png' %}" alt="Аватар профиля" class="profile-avatar">
        {% endif %}
    </div>

    <form id="profile-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group">
            <label for="avatar">Изменить аватар:</label>
            <input type="file" id="avatar" name="picture" class="avatar-input">
        </div>
        
        <div class="form-group">
            <label for="name">Имя:</label>
            <input type="text" id="name" name="name" value="{{ user.name }}" required class="form-input">
        </div>
        
        <div class="form-group">
            <label for="phone">Номер телефона:</label>
            <input type="tel" id="phone" name="phone" value="{{ user.phone }}" required placeholder="+71234567890" class="form-input">
        </div>

        <div class="form-group">
            <label for="id_email">Email:</label>
            <input type="email" name="email" id="id_email" value="{% if user.email %}{{ user.email }}{% endif %}" class="form-input">
        </div>

        <div class="form-group">
            <label for="date_of_birth">Дата рождения:</label>
            <input type="date" id="date_of_birth" name="birthday" value="{{ user.birthday|date:'Y-m-d' }}" required class="form-input">
        </div>
        
        <div class="form-group">
            <label for="current_password">Текущий пароль:</label>
            <input type="password" id="current_password" name="current_password" required class="form-input">
        </div>
        
        <div class="form-group">
            <label for="new_password">Новый пароль (если хотите изменить):</label>
            <input type="password" id="new_password" name="new_password" class="form-input">
        </div>
        
        <div class="form-group">
            <label for="confirm_new_password">Повторите новый пароль:</label>
            <input type="password" id="confirm_new_password" name="confirm_new_password" class="form-input">
        </div>

        {% if messages %}
        <div class="messages-container">
            <ul class="messages">
                {% for message in messages %}
                    <li class="message {{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <button type="submit" name="update_profile">Сохранить изменения</button>
        <a href="{% url 'profile' user.pk %}"><button type="button" id="cancel-button" class="button-cancel">Отмена</button></a>
    </form>
</div>

{% endblock %}
