{% extends "base.html" %}
{% load static %}
{% block title %}Вход{% endblock %}
{% block css %}{% static 'css/login.css' %}{% endblock %}

{% block content %}
        <div class="form-class" id="login-container">
            <h2>Вход</h2>
            <form id="login-form" method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <label for="login-phone">Номер телефона:</label>
                <input type="text" name="phone" id="login-phone" value="+7" required>
                <label for="login-password">Пароль:</label>
                <input type="password" name="password" id="login-password" required>
                <button type="submit">Войти</button>
            </form>
            <p>Нет аккаунта? <a href="{% url 'register' %}" id="show-register">Зарегистрироваться</a></p>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li class="message {{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

    <script src="{% static 'js/login.js' %}"></script>

{% endblock %}
