{% extends "base.html" %}
{% load static %}
{% block title %}Главная страница{% endblock %}
{% block css %}{% static 'css/my_style.css' %}{% endblock %}

{% block content %}
    <div class="centered-box">
        <section id="hero-image">
            <div class="hero-text-box">
                <h3>О нашем салоне</h3>
                <p>Добро пожаловать в салон красоты "Beauty Style"! Наш салон – это уютное пространство для тех, кто хочет почувствовать себя обновленным, красивым и полным сил. Мы предлагаем широкий спектр услуг по уходу за волосами, кожей и телом, обеспечивая индивидуальный подход к каждому клиенту. Наши мастера – профессионалы с большим опытом, всегда следят за последними тенденциями в мире красоты и используют только качественные материалы.</p>
                <p>Мы стремимся создать атмосферу, в которой вы сможете расслабиться и полностью довериться нашим специалистам. Независимо от того, ищете ли вы стильную стрижку, модное окрашивание, маникюр или расслабляющий массаж, мы всегда готовы предложить вам услуги на высшем уровне.</p>
            </div>
        </section>

        <section id="booking">
            <div class="booking-class">
                <button id="open-booking-modal" class="booking-button" onclick="location.href='{% url 'booking_service' %}'">Записаться онлайн</button>
            </div>
            <p style="text-align: center">Для записи также можно позвонить по номеру: +7 123-456-78-90</p>
        </section>

        <section id="services">
            <div class="h2-wrapper">
                <h2>Наши Услуги</h2>
            </div>
            <div class="services-class">
                {% for category in categories %}
                <div class="service">
                    {% if category.picture %}
                    <img src="{{ category.picture.url }}" alt="Услуга" class="service-image" data-service="haircut">
                    {% else %}
                    <img src="{% static 'images/photo1.jpg' %}" alt="Услуга" class="service-image" data-service="haircut">
                    {% endif %}
                    <h3>{{category.name}}</h3>
                    <p>{{category.description}}</p>
                    <a href="{% url 'category_detail' category.id %}" class="description-button">Описание</a>

                </div>
                {% endfor %}
            </div>
        </section>

    <section class="masters-section" id="masters">
        <div class="h2-wrapper">
            <h2>Наши Мастера</h2>
        </div>

        <!-- Ссылки для фильтрации -->
        {% block sidebar %}
        <!-- Кнопки для фильтрации по категориям с якорем -->
        <div class="service-tabs">
            {% for category in categories %}
            <a href="?category={{ category.id }}#masters" class="service-tab">{{ category.name }}</a>
            {% endfor %}
            <a href="{% url 'main' %}#masters" class="service-tab">Все категории</a>
        </div>
        {% endblock %}

        <!-- Контейнер для мастеров -->
        <div class="masters-container">
            {% for master in masters %}
            <div class="master-card" data-category="{{ master.category.all|join:', ' }}">
                {% if master.picture %}
                    <img src="{{ master.picture.url }}" alt="Фото мастера" class="master-photo">
                {% else %}
                    <img src="{% static 'images/photo1.jpg' %}" alt="Фото мастера" class="master-photo">
                {% endif %}
                <div class="master-info">
                    <h3 class="master-name">{{ master.name }}</h3>
                    <p class="master-description">{{ master.description }}</p>
                </div>
            </div>
            {% empty %}
            <p>Мастера для данной категории отсутствуют.</p>
            {% endfor %}
        </div>
    </section>





        <section id="reviews"> 
            <div class="h2-wrapper">
                <h2>Отзывы</h2>
            </div>
            <div class="reviews-wrapper">
                <button class="scroll-button left" id="scroll-left">&#10094;</button>
                <div class="reviews-container" id="reviews-container">

                    {% for review in reviews %}
                    <div class="review">
                        <div class="review-author-info">
                            {% if review.user.picture %}
                            <img src="{{ review.user.picture.url }}" alt="{{ review.name }}" class="avatar">
                            {% else %}
                            <img src="{% static 'images/default_avatar.png' %}" alt="{{ review.name }}" class="avatar">
                            {% endif %}
                            <p class="review-author">{{ review.user.name }}</p>
                        </div>
                        <p class="review-text">{{ review.text }}</p>
                        <p class="review-grade"><strong>Оценка: {{ review.grade }}/5</strong></p>
                    </div>
                    {% endfor %}

                <button class="scroll-button right" id="scroll-right">&#10095;</button>
            </div>
        </section>

        <section id="map" style="position: relative;">
            <div class="contact-box">
                <h3>Контакты</h3>
                <p>Телефон: +7 123-456-78-90</p><br>
                <p>Email: Beautystyle@gmail.com</p><br>
                <p>Режим работы:</p>
                <p>C 11:00 до 21:00</p>
                <p>без выходных</p><br>
                <p>Адрес: ул. Ленина, 46, Уфа, Респ. Башкортостан, 450077</p>
            </div>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1385.3382103543443!2d55.94891888420812!3d54.72840945709914!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1727184725037!5m2!1sru!2sru"
                style="border:0; width: 100%; height: 500px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </section>
     </div>

<script src="{% static 'js/main.js' %}"></script>
{% endblock %}