{% extends "base.html" %}
{% load static %}
{% block title %}Регистрация{% endblock %}
{% block css %}{% static 'css/login.css' %}{% endblock %}

{% block content %}

        <div class="form-class" id="register-container">
            <h2>Регистрация</h2>
            <form id="register-form" method="post" action="{% url 'register' %}">
                {% csrf_token %}
                <label for="register-name">Имя:</label>
                <input type="text" name="first_name" id="register-name" required>

                <label for="register-phone">Номер телефона:</label>
                <input type="text" name="phone" id="register-phone" value="+7" required>

                <label for="register-dob">Дата рождения:</label>
                <input type="date" name="birthday" id="register-dob" required>

                <label for="register-password">Пароль:</label>
                <input type="password" name="password1" id="register-password" required>

                <label for="register-password2">Повторите пароль:</label>
                <input type="password" name="password2" id="register-password2" required>

                <button type="submit">Зарегистрироваться</button>
            </form>
            <p>Уже есть аккаунт? <a href="{% url 'login' %}" id="show-login">Войти</a></p>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li class="message {{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <script src="{% static 'js/login.js' %}"></script>
{% endblock %}